.intro {
  padding-top: 91px;
  min-height: 389px;
  background-image: url(../img/intro/intro-triangle.svg.svg), url("../img/intro/back-mobile.jpgy.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-resolution: 2dppx) {
    background-image: url(../img/intro/intro-triangle.svg.svg), url("../img/intro/back-mobile.jpg@2x.jpg");
  }
}

.intro__img {
  display: block;
  margin: 0 auto;
}
