.reasons-item {
}

.reasons-item--1 {
}
.reasons-item__inner {
  background: @main-color;
  background-image: url(../img/reasons-item/white-copy.svg);
  background-repeat: no-repeat;
  background-position: top;
  min-height: 227px;
  padding: 71px 15px 20px;
}

.reasons-item__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @white;
}

.reasons-item__number {
  margin-top: 11px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: @white;
}
.reasons-item__descr {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: @white;
  margin-top: 17px;
}
.reasons-item__img {
}
.reasons-item__example {
  padding: 16px 20px 10px 69px;
  position: relative;
  &::before {
    content: """";
    display: block;
    position: absolute;
    width: 39px;
    height: 37px;
    background-image: url(../img/reasons-item/icon-house.svg);
    left: 21px;
    top: 6px;
    background-repeat: no-repeat;
  }
}

.reasons-item__example--1 {
  margin-top: 16px;
}

.reasons-item__example--2 {
  &::before {
    background-image: url(../img/reasons-item/icon-gift.svg);
    width: 32px;
    height: 38px;
    left: 25px;
    top: 4px;
  }
}

.reasons-item__example--3 {
  &::before {
    background-image: url(../img/reasons-item/icon-burger.svg);
    width: 40px;
    height: 35px;
    left: 18px;
    top: 10px;
  }
}

.reasons-item__example-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black;
}
.reasons-item__example-descr {
  margin: 0;
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
